*.dcd
*.csv
*.pqr
*.pdb
*.sdf
*.chk
*.chkpt
*.pdbqt
*.sqlite
*.jsonl
*.xml
# Python bytecode/cache
__pycache__/
*.py[cod]
maize_workflow_docking.log
*.pyc
**/projects/**
!**/projects/test/
!**/projects/test/**
